@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200&display=swap");
header {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
}
header h1 {
  border-bottom: 2px solid #ebd517;
  align-self: center;
}
header h3 {
  align-self: center;
}
header p {
  align-self: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.4em;
}
header .score-record {
  color: #ebd517;
  align-self: center;
  font-size: 2rem;
}
header .score-record #score-box {
  display: inline-block;
  color: black;
  background-color: #ebd517;
  min-width: 5rem;
  height: 1.6rem;
  margin-left: 0.4rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
header .score-record #reset-score-button {
  display: inline-block;
  color: #fff;
  background-color: black;
  margin-left: 5px;
  padding: 5px;
  border-radius: 50px;
  font-size: 0.8rem;
  position: relative;
  top: -6px;
  cursor: pointer;
}
header .score-record #reset-score-button p {
  margin: 0 2px;
}

.goal-container {
  display: flex;
  justify-content: center;
  margin-top: -10vh;
}
.goal-container .goal-table {
  color: #fff;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.3em;
  border-top: 7px solid white;
  border-left: 7px solid white;
  border-right: 7px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  height: 224px;
  margin: 50px auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}
.goal-container .goal-table tbody tr td {
  border: 1px dotted #fff;
  padding: 20px 70px;
}
.goal-container .goal-table tbody tr td:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
}
.avatar-container #avatar-name {
  align-self: center;
}

.select-screen-container {
  width: 60%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  position: absolute;
  top: -140px;
  left: 20%;
  animation: selectScreenFadeIn 1s ease-out 1s;
  z-index: 0;
  /*CLASES PARA ANIMAR AVATARES*/
  /* FIN CLASES PARA ANIMAR AVATARES*/
}
.select-screen-container .select-screen {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "header-title header-title" "left-side right-side" "buttons buttons";
}
.select-screen-container .select-screen h2 {
  margin-top: 30px;
  color: #ebd517;
  font-size: 2rem;
  grid-area: header-title;
}
.select-screen-container .avatar-show-static {
  grid-area: left-side;
  background-image: url(../images/avatar.png);
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.select-screen-container .avatar-show-animated-bale {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/bale.png);
}
.select-screen-container .avatar-show-animated-benzema {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/benzema.png);
}
.select-screen-container .avatar-show-animated-cronaldo {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/cronaldo.png);
}
.select-screen-container .avatar-show-animated-dimaria {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/dimaria.png);
}
.select-screen-container .avatar-show-animated-griezmann {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/griezmann.png);
}
.select-screen-container .avatar-show-animated-lewandowski {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/lewandowski.png);
}
.select-screen-container .avatar-show-animated-mbappe {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/mbappe.png);
}
.select-screen-container .avatar-show-animated-messi {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/messi.png);
}
.select-screen-container .avatar-show-animated-neymar {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/neymar.png);
}
.select-screen-container .avatar-show-animated-salah {
  grid-area: left-side;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animateAvatar 0.5s ease-in-out;
  background-image: url(../images/salah.png);
}
.select-screen-container .avatar-table {
  margin: -2vh 3vw;
  min-height: 55vh;
  width: 50%;
  font-size: 0.8rem;
  grid-area: right-side;
}
.select-screen-container .avatar-table tbody tr td {
  text-align: end;
  padding: 4px 5px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.5em;
  color: #fff;
}
.select-screen-container .avatar-table tbody tr td:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.select-screen-container #filter-container {
  text-align: center;
  padding: 30px;
  grid-area: buttons;
}
.select-screen-container #filter-container .filter-btn {
  margin: 0 auto;
  display: inline-block;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.2em;
  padding: 5px 20px;
  background-color: #ebd517;
  color: black;
  border-radius: 15px;
}

@keyframes selectScreenFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes animateAvatar {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.name-form-container {
  width: 60%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  position: absolute;
  top: -140px;
  left: 20%;
  animation: formScreenFadeIn 1s ease-out 1s;
  z-index: 1;
}
.name-form-container .name-form {
  font-size: 1.5rem;
  color: #ebd517;
  text-align: center;
  margin: 10rem auto;
  width: 50%;
}
.name-form-container .name-form .alert-form {
  border: 1px solid red;
  box-shadow: 1px 1px 20px red inset;
}

@keyframes formScreenFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.popup {
  display: none;
}

.popup-animated {
  display: flex;
  width: 60%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  position: absolute;
  top: 40px;
  left: 20%;
  z-index: 2;
  animation: popUpFadeIn 0.3s ease-in-out;
}
.popup-animated #popup-notification {
  font-size: 2.5rem;
  top: 100px;
  left: 20%;
  color: #ebd517;
  text-align: center;
  margin: 10rem auto;
  width: 50%;
}

.close-button {
  font-size: 1.5rem;
  float: right;
  color: blanchedalmond;
  cursor: pointer;
}

@keyframes popUpFadeIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  90% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
@keyframes popUpNotificationSkew {
  0% {
    opacity: 0;
    transform: skew(-26deg, 0deg);
  }
  100% {
    opacity: 1;
    transform: skew(0deg, 0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", cursive;
  background-image: url(../images/soccer-sport-stadium-at-night.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  position: relative;
}
main #shot-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
main #shot-container #shot {
  margin: 0 auto;
  display: inline-block;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.2em;
  padding: 5px 20px;
  background-color: #ebd517;
  color: black;
  border-radius: 15px;
}
main .match-stats-container {
  display: flex;
  justify-content: center;
}
main .match-stats-container #match-stats-table {
  color: #fff;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px;
  border: 1px solid #fff;
}
main .match-stats-container #match-stats-table tr td {
  border: 1px dotted #fff;
  padding: 5px 10px;
}

/*# sourceMappingURL=style.css.map */
