@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@200&display=swap");
header {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
}
header h1 {
  border-bottom: 2px solid #ebd517;
  align-self: center;
}
header h3 {
  align-self: center;
}
header p {
  align-self: center;
  font-family: "Gemunu Libre", sans-serif;
  padding-top: 20px;
  font-size: 1.4em;
}

.container-arco {
  display: flex;
  justify-content: center;
}
.container-arco .tabla-arco {
  color: #fff;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.3em;
  border-top: 7px solid white;
  border-left: 7px solid white;
  border-right: 7px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  height: 224px;
  margin: 50px auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}
.container-arco .tabla-arco tbody tr td {
  border: 1px dotted #fff;
  padding: 20px 70px;
}
.container-arco .tabla-arco tbody tr td:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
}
.avatar-container #avatar-name {
  align-self: center;
}

.select-screen-container {
  width: 60%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  position: absolute;
  top: -140px;
  left: 20%;
  animation: selectScreenFadeIn 1s ease-out 1s;
}
.select-screen-container .select-screen {
  text-align: center;
}
.select-screen-container .select-screen h2 {
  margin-top: 40px;
  color: #ebd517;
  font-size: 2em;
}
.select-screen-container .tabla-avatars {
  margin: 10vh 3vw;
  width: 90%;
}
.select-screen-container .tabla-avatars tbody tr td {
  padding: 4px 5px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.5em;
  color: #fff;
}
.select-screen-container .tabla-avatars tbody tr td:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.select-screen-container #filter-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.select-screen-container #filter-container .filter-btn {
  margin: 0 auto;
  display: inline-block;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.2em;
  padding: 5px 20px;
  background-color: #ebd517;
  color: black;
  border-radius: 15px;
}

@keyframes selectScreenFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", cursive;
  background-image: url(../images/soccer-sport-stadium-at-night.png);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  position: relative;
}
main #shot-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
main #shot-container #shot {
  margin: 0 auto;
  display: inline-block;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.2em;
  padding: 5px 20px;
  background-color: #ebd517;
  color: black;
  border-radius: 15px;
}

/*# sourceMappingURL=style.css.map */
