@import 'base/fonts';
@import'components/header';
@import 'components/goal';
@import 'base/colors';
@import 'components/selectScreen';
@import 'components/nameForm';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    background-image: url(../images/soccer-sport-stadium-at-night.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    position: relative;
    #shot-container{
        display: flex;
        justify-content: center;
        padding: 30px;

        #shot{
            margin: 0 auto;
            display: inline-block;
            font-family: 'Gemunu Libre', sans-serif;
            font-size: 1.2em;
            padding: 5px 20px;
            background-color: map-get($colors, primario);
            color: black;
            border-radius: 15px;
        }
    }
}
