@import 'base/fonts';
@import'components/header';
@import 'components/goal';
@import 'base/colors';
@import 'components/selectScreen';
@import 'components/nameForm';
@import 'components/popUp';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    background-image: url(../images/soccer-sport-stadium-at-night.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    position: relative;
    #shot-container{
        display: flex;
        justify-content: center;
        padding: 30px;

        #shot{
            margin: 0 auto;
            display: inline-block;
            font-family: 'Gemunu Libre', sans-serif;
            font-size: 1.2em;
            padding: 5px 20px;
            background-color: map-get($colors, primario);
            color: black;
            border-radius: 15px;
        }
    }
    .match-stats-container{
        display: flex;
        justify-content: center;

        #match-stats-table{
            color: #fff;
            font-family: 'Gemunu Libre', sans-serif;
            font-size: 1rem;
            background-color: rgba(255, 255, 255, 0.2);
            padding:0px;
            border: 1px solid #fff;
            tr{
                td{
                    border: 1px dotted #fff;
                    padding: 5px 10px;
                }
            }
        }
    }
}
