@import '../base/colors';

.goal-container{
    display: flex;
    justify-content: center;
    .score-record{
        justify-content: space-around;
    }
    .goal-table{
        color: #fff;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 1.3em;
        border-top:7px solid rgb(255, 255, 255);
        border-left:7px solid rgb(255, 255, 255);
        border-right:7px solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.2);
        height: 224px;
        margin: 50px auto;
        padding:0;
        display: flex;
        justify-content: space-around;
        border-collapse: collapse;
        tbody{
            tr{
                td{
                    border: 1px dotted #fff;
                    padding: 20px 70px;

                    &:hover{
                        color: black;
                        background-color: rgba(255, 255, 255, 0.7);
                        cursor: pointer;
                    }
                }
            }  
        }
    }
}

.avatar-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #fff;

    #avatar-name{
        align-self: center;
    }
}
