@import '../base/colors';

header{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    color:#fff;

    h1{
        border-bottom: 2px solid map-get($colors, primario);
        align-self: center;
    }
    h3{
        align-self: center;
    }
    p{
        align-self: center;
        font-family: 'Gemunu Libre', sans-serif;
        padding-top: 20px;
        font-size: 1.4em;
    }
}



