@import '../base/colors';

header{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    color:#fff;

    h1{
        border-bottom: 2px solid map-get($colors, primario);
        align-self: center;
    }
    #player-name{
        font-size: 1.5rem;
        color: map-get($colors, primario);
        text-align: center;
        h3{
            color: #fff;
            align-self: center;
        }
    }
    
    p{
        align-self: center;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 1.4em;
    }
    .score-record{
        color: map-get($colors, primario);
        align-self: center;
        font-size: 2rem;
        #score-box{
            display: inline-block;
            color:black;
            background-color: map-get($colors, primario);
            min-width: 5rem;
            height: 1.6rem;
            margin-left: .4rem;
            border-radius: 10px;
            font-size: 1.5rem;
        }
        #reset-score-button{
            display: inline-block;
            color: #fff;
            background-color: black;
            margin-left: 5px;
            padding: 5px;
            border-radius: 50px;
            font-size: 0.8rem;
            position: relative;
            top: -6px;
            cursor: pointer;
            
            p{
                margin: 0 2px;
            }
        }
    }
}

