@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';

.popup{
    display: none;
}

.popup-animated{
    display: flex;
    width: 60%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    position: absolute;
    top: 40px;
    left: 20%;
    z-index: 2;
    animation: popUpFadeIn .3s ease-in-out;

    #popup-notification{
        font-size: 2.5rem;
        top: 100px;
        left: 20%;
        color: map-get($colors, primario);
        @include formText;
    }
}

.close-button{
    font-size: 1.5rem;
    float: right;
    color: blanchedalmond;
    cursor: pointer;
}

@keyframes popUpFadeIn {
    0%{
        opacity: 0;
        transform: scaleY(0);
    }
    90%{
        opacity: 1;
        transform: scaleY(1);
    }
    100%{
        opacity: 0;
        transform: scaleY(0);
    }

}



@keyframes popUpNotificationSkew {
    0%{
        opacity: 0;
        transform: skew(-26deg, 0deg);
    }
    100%{
        opacity: 1;
        transform: skew(0deg, 0deg);
    }
    
}