@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';

.popup{
    display: none;
}

.popup-animated{
    display: flex;
    width: 60%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: -4px 7px 29px 4px rgba(0,0,0,1);
    -webkit-box-shadow: -4px 7px 29px 4px rgba(0,0,0,1);
    -moz-box-shadow: -4px 7px 29px 4px rgba(0,0,0,1);
    border-radius: 15px;
    position: absolute;
    top: 40px;
    left: 20%;
    z-index: 2;
    backface-visibility: hidden;
    animation: popUpFadeIn 1s cubic-bezier(.52,-0.01,.02,.98);

    #popup-notification{
        font-size: 2.5rem;
        top: 100px;
        left: 20%;
        color: map-get($colors, primario);
        @include formText;
    }
}

.close-button{
    font-size: 1.5rem;
    float: right;
    color: blanchedalmond;
    cursor: pointer;
}

@keyframes popUpFadeIn {
    0%{
        opacity: 0;
        transform: scaleY(0);
    }
    20%{
        opacity: 1;
        transform: scaleY(2);
    }
    30%{
        transform: scaleY(.3);
    }
    40%{
        transform: scaleY(1);
    }
}