@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';
@import '../base/avatars';


.select-screen-container{
    @include form;
    animation: selectScreenFadeIn 1s ease-out 1s;
    z-index: 0;
    .select-screen{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas:
            "header-title header-title"
            "left-side right-side"
            "buttons buttons";

        h2{
            margin-top: 30px;
            color: map-get($colors, primario);
            font-size: 2rem;
            grid-area: header-title;
        }
    }

    .avatar-show-static{
        grid-area: left-side;
        background-image: url(../images/avatar.png);
        opacity: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }


/*CLASES PARA ANIMAR AVATARES*/

    .avatar-show-animated-bale{
            @include avatar-show-animated;
            background-image: $img-bale;
    }

    .avatar-show-animated-benzema{
            @include avatar-show-animated;
            background-image: $img-benzema;
    }

    .avatar-show-animated-cronaldo{
            @include avatar-show-animated;
            background-image: $img-cronaldo;
    }

    .avatar-show-animated-dimaria{
        @include avatar-show-animated;
        background-image: $img-dimaria;
    }

    .avatar-show-animated-griezmann{
        @include avatar-show-animated;
        background-image: $img-griezmann;
    }

    .avatar-show-animated-lewandowski{
        @include avatar-show-animated;
        background-image: $img-lewandowski;
    }

    .avatar-show-animated-mbappe{
        @include avatar-show-animated;
        background-image: $img-mbappe;
    }

    .avatar-show-animated-messi{
        @include avatar-show-animated;
        background-image: $img-messi;
    }

    .avatar-show-animated-neymar{
        @include avatar-show-animated;
        background-image: $img-neymar;
    }

    .avatar-show-animated-salah{
        @include avatar-show-animated;
        background-image: $img-salah;
    }

/* FIN CLASES PARA ANIMAR AVATARES*/


    .avatar-table{
        margin: -2vh 3vw;
        min-height: 55vh;
        width: 50%;
        font-size: .8rem;
        grid-area: right-side;

        tbody{
            tr{
                td{
                    text-align: end;
                    padding: 4px 5px;
                    font-family: 'Gemunu Libre', sans-serif;
                    font-size: 1.5em;
                    color: #fff;
                    
                    &:hover{
                        color: black;
                        background-color: rgba(255, 255, 255, 0.7);
                        cursor: pointer;
                    }
                }
            }  
        }
    }

    #filter-container{
        text-align: center;
        padding: 30px;
        grid-area: buttons;

        .filter-btn{
            margin: 0 auto;
            display: inline-block;
            font-family: 'Gemunu Libre', sans-serif;
            font-size: 1.2em;
            padding: 5px 20px;
            background-color: map-get($colors, primario);
            color: black;
            border-radius: 15px;
        }
    }
}

@keyframes selectScreenFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes animateAvatar {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}