@import '../base/colors';
@import '../base/fonts';



.select-screen-container{
    width: 60%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    position: absolute;
    top: -140px;
    left: 20%;
    animation: selectScreenFadeIn 1s ease-out 1s;
    .select-screen{
        text-align: center;
        h2{
            margin-top: 40px;
            color: map-get($colors, primario);
            font-size: 2em;
        }
    }
    .tabla-avatars{
        margin: 10vh 3vw;
        width: 90%;
        tbody{
            tr{
                td{
                    padding: 4px 5px;
                    font-family: 'Gemunu Libre', sans-serif;
                    font-size: 1.5em;
                    color: #fff;
                    
                    &:hover{
                        color: black;
                        background-color: rgba(255, 255, 255, 0.7);
                        cursor: pointer;
                    }
                }
            }  
        }
    }
    #filter-container{
        display: flex;
        justify-content: center;
        padding: 30px;

        .filter-btn{
            margin: 0 auto;
            display: inline-block;
            font-family: 'Gemunu Libre', sans-serif;
            font-size: 1.2em;
            padding: 5px 20px;
            background-color: map-get($colors, primario);
            color: black;
            border-radius: 15px;
        }
    }
}

@keyframes selectScreenFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
