
$img-bale: url(../images/bale.png);
$img-benzema: url(../images/benzema.png);
$img-cronaldo: url(../images/cronaldo.png);
$img-dimaria: url(../images/dimaria.png);
$img-griezmann: url(../images/griezmann.png);
$img-lewandowski: url(../images/lewandowski.png);
$img-mbappe: url(../images/mbappe.png);
$img-messi: url(../images/messi.png);
$img-neymar: url(../images/neymar.png);
$img-salah: url(../images/salah.png);
